In [2]:
import pandas as pd
data = pd.read_csv('Data-Week3.csv')
data.head(3)

   month  day  FFMC  DMC     DC  ISI  temp   RH  wind
0      1  sat  82.1  3.7    9.3  2.9   5.3   78   3.1
1      1  sun  18.7  1.1  171.4  0.0   5.2  100   0.9
2      2  mon  84.0  9.3   34.0  2.1  13.9   40   5.4

In [3]:
import numpy as np
import matplotlib.pyplot as plt
correlations = data.corr()
fig = plt.figure()
ax = fig.add_subplot(111)
cax = ax.matshow(correlations, vmin=-1, vmax=1)
fig.colobar(cax)
ticks = numpy.arange(0,9,1)
ax.set_xticks(ticks)
ax.set_yticks(ticks)
ax.set_xticklabels(headers)
ax.set_yticklabels(headers)
plt.show()

ValueError: could not convert string to float: 'sat'

Univariate Feature Selection-Variance

In [4]:
x = data.iloc[:,2:8]
y = data.iloc[:,0]
x

     FFMC   DMC     DC  ISI  temp   RH
0    82.1   3.7    9.3  2.9   5.3   78
1    18.7   1.1  171.4  0.0   5.2  100
2    84.0   9.3   34.0  2.1  13.9   40
3    86.6  13.2   43.0  5.3  12.3   51
4    84.2   6.8   26.6  7.7   6.7   79
..    ...   ...    ...  ...   ...  ...
512  85.4  25.4  349.7  2.6   4.6   21
513  85.4  25.4  349.7  2.6   4.6   21
514  85.4  25.4  349.7  2.6   4.6   21
515  84.7  26.7  352.6  4.1   2.2   59
516  85.4  25.4  349.7  2.6   5.1   24

[517 rows x 6 columns]